body {
    font-family: Montserrat;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.nav {
    border-bottom: 2px solid;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid;
    height: 100px;
}

.nav-bottom {
    display: block;
    height: 60px;
    font-size: 18px;
}

.header-search {
    height: 16px;
    display: flex;
    flex: 1;
    justify-content: left;
    z-index: 2000;
}

.header-title {
    font-family: Lexend Tera;
    font-size: 60px;
    overflow: hidden;
}

.header-socials {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    max-height: 16px;
    z-index: 1;
}

.nav-bottom-list {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    text-transform: uppercase;
    list-style-type: none;
    font-weight: lighter;
}

.feature-nav {
    position: sticky;
    top: 0px;
    background-color: white;
}

.feature-nav-title {
    text-transform: uppercase;
    font-size: 18px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:20px;
}

.title-japanese {
    color: rgba(0, 0, 0, 0.03) !important;
    font-size: 72px;
    position: absolute;
}

.title-english {
    position: absolute;
}

.feature-nav-title p {

}

.feature-nav-bottom {
    display: block;
    height: 50px;
    padding-top: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.feature-nav-list {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 14px;
}

.feature-nav-item {
  color: grey;
}

.active, .feature-nav-item:hover {
  color: black;
}

.main-feature {
    background-image: linear-gradient(rgba(0,0,0,0.0), 80%, rgba(0,0,0,0.8)), url('assets/ichiko.png');
    height: calc(100vh - 178px);
    width: 65%;
    background-size: cover;
}
